In [1]:
import numpy as np
import pandas as pd
import openpyxl
from sklearn.preprocessing import LabelEncoder
from scipy.stats import chi2_contingency
from geopy.geocoders import Nominatim

In [47]:
raw = pd.read_excel('raw_data.xlsx')
raw

,Timestamp,Age,sex,Nationality,base,Mother_tongue,Other_languages,education,Part_full,working_student,Academic_major,Bootcamp_subject,Institute,Graduation_time,local_language,Familirity_rate,Intention,Employee,Time_employee,Apply_employee,Work_exprience_employee,Time_hunter,Apply_hunter,Work_exprience_hunter,Upskilled_employee_try,Upskilled_employee_succeed,Work_exprience_upskilled,Time_upskilled,Apply_upskilled,Work_exprience_upskilled_hunter,Time_upskilled_hunter,Apply_upskilled_hunter,Subjective_technical,Subjective_soft,Subjective_language,Subjective_academia,Subjective_bootcamp,CV,Email
0,2023/11/03 10:31:24 AM GMT+1,Between 36 and 45,Male,British,Netherlands,English,Dutch,Bachelor's degree,Full time,No,Fine Art,UI UX,Ironhack,2024-02-03 00:00:00,1,Almost nothing,Landing a job in a related field,Not yet,NaN,NaN,NaN,Not started yet.,NaN,less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,2,3,2,https://drive.google.com/u/0/open?usp=forms_we...,NaN
1,2023/11/03 10:44:42 AM GMT+1,Between 24 and 35,Male,German,Portugal,German,"english, dutch",Bachelor's degree,Full time,Yes - Part time,Communication,WebDev,Lisbon,2023-12-05 00:00:00,0,Almost nothing,Landing a job in a related field,Not yet,NaN,NaN,NaN,Not started yet.,Less than 50,between 1 year and 3 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,4,3,2,https://drive.google.com/u/0/open?usp=forms_we...,NaN
2,2023/11/03 11:11:17 AM GMT+1,Between 24 and 35,Female,Iranian,Germany,Persian,English,Bachelor's degree,Full time,No,Civil engineering,web development,Spiced Academy,2023-08-09 00:00:00,0,Between 20% and 50%,Landing a job in a related field,Not yet,NaN,NaN,NaN,Less than 6 months,Less than 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,2,1,1,NaN,NaN
3,2023/11/03 11:52:15 AM GMT+1,Between 24 and 35,Female,Swiss,Germany,German,"English, Swiss-German",Some college or associate's degree,Full time,No,Early Childhood Education,UX/UI Design,Ironhack,2023-08-11 00:00:00,1,Less than 20%,I have a job in a related field and just inten...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,No,NaN,NaN,NaN,Less than 1 year,Less than 6 months,Between 50 and 100,4,3,2,1,4,NaN,NaN
4,2023/11/03 2:33:26 PM GMT+1,Between 46 and 60,Male,German,Germany,German,"English, Spanish",Bachelor's degree,Full time,No,Science of Art,Fullstack Development,Spiced Academy,2023-07-06 00:00:00,1,Almost nothing,Landing a job in a related field,Not yet,NaN,NaN,NaN,Less than 6 months,Less than 50,less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,4,3,3,NaN,thoralf.barth@gmail.com
5,2023/11/03 5:25:32 PM GMT+1,Between 36 and 45,Male,Ethiopian,Germany,Amharic,English,Bachelor's degree,Full time,No,Computer science,Cop up to modern programming skills,Spiced academy,2023-07-06 00:00:00,0,More than 50%,Landing a job in a related field,Not yet,NaN,NaN,NaN,Less than 6 months,Between 50 and 100,more than 3 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,3,3,2,NaN,NaN
6,2023/11/06 7:26:45 AM GMT+1,Between 24 and 35,Female,Iranian,Germany,Persian,English,Bachelor's degree,Full time,No,Conservation and restoration of cultural heritage,Web developement,Ironhack,2022-06-03 00:00:00,0,Almost nothing,Landing a job in a related field,Yes,1 week,Less than 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5,3,3,4,https://drive.google.com/u/0/open?usp=forms_we...,NaN
7,2023/11/06 10:22:03 AM GMT+1,Between 24 and 35,Female,Iranian,Germany,Azerbaijani,Persian. English. Turkish,Master's degree,Full time,Yes - Part time,MBA in project management,UI/UX,Ironhack,2021-12-10 00:00:00,0,Less than 20%,Landing a job in a related field,Yes,less than 6 months,Less than 50,between 1year and 3 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,2,1,3,https://drive.google.com/u/0/open?usp=forms_we...,NaN
8,2023/11/06 10:31:03 AM GMT+1,Between 24 and 35,Female,Romanian,Germany,Romanian,"English, Spanish",Master's degree,Part time,Yes - Part time,Natural Sciences,Data Analytics,Ironhack,2022-07-31 00:00:00,0,Less than 20%,Landing a job in a related field,Yes,less than 6 months,Less than 50,between 1year and 3 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,3,2,4,1,https://drive.google.com/u/0/open?usp=forms_we...,NaN
9,2023/11/06 10:31:10 AM GMT+1,Between 24 and 35,Female,American,The United States,English,none,Bachelor's degree,Full time,No,Sociology and Anthropology,UX/UI,Ironhack,2023-12-08 00:00:00,1,Less than 20%,Landing a job in a related field,Not yet,NaN,NaN,NaN,Not started yet.,Less than 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,2,2,2,NaN,NaN
10,2023/11/07 1:11:02 AM GMT+1,Between 24 and 35,Prefer not to say,brazilian,Brazil,portuguese,english,Bachelor's degree,Full time,No,architecture and urbanism,data analytics,ironhack,2022-05-21 00:00:00,1,Less than 20%,Landing a job in a related field,Yes,less than 6 months,Less than 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,5,5,2,5,NaN,NaN
11,2023/11/07 1:41:46 AM GMT+1,Between 24 and 35,Female,Latin/Cuban,The United States,Spanish,English,Bachelor's degree,Part time,Yes - Full time,Bachelor's in Fine Arts,Web Development,Ironhack Miami,2020-05-09 00:00:00,1,Almost nothing,Landing a job in a related field,Yes,more than a year,More than 100,between 1year and 3 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,3,4,5,2,https://drive.google.com/u/0/open?usp=forms_we...,kaylamartinez1201@gmail.com
12,2023/11/07 9:20:03 AM GMT+1,Between 24 and 35,Male,Portuguese,Spain,Portuguese,Spanish and English,Bachelor's degree,Full time,Yes - Full time,Business Administration,Data Analysis,Ironhack Barcelona,2020-06-30 00:00:00,0,Less than 20%,I have a job in a related field and just inten...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes,Between 1 year and 3 years,less than 6 months,Between 50 and 100,NaN,NaN,NaN,4,4,3,2,2,NaN,NaN
13,2023/11/07 9:36:48 AM GMT+1,Between 24 and 35,Female,Pakistani,Germany,Urdu,English,Bachelor's degree,Full time,No,Computers,Data Analytics,IronHack,2014-09-10 00:00:00,1,Between 20% and 50%,Landing a job in a related field,Not yet,NaN,NaN,NaN,Not started yet.,Less than 50,less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,2,4,4,https://drive.google.com/u/0/open?usp=forms_we...,faryalsipra@gmail.com
14,2023/11/07 9:37:13 AM GMT+1,Between 36 and 45,Female,Indian,Netherlands,Hindi,English,Master's degree,Full time,No,Chemistry,Data Analysis,na,2001-04-21 00:00:00,1,Almost nothing,Landing a job in a related field,Not yet,NaN,NaN,NaN,Between 6 and 12 months,Less than 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,3,4,3,NaN,megha.bhambri08@gmail.com
15,2023/11/07 1:43:25 PM GMT+1,Between 24 and 35,Male,Spain,Spain,Spanish,"Catalan, English, Russian",Master's degree,Part time,Yes - Part time,Cytology,Data Science,Ironhack,0023-08-31,1,Less than 20%,Landing a job in a related field,Yes,less than 6 months,More than 100,more than 3 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,4,5,5,4,NaN,NaN
16,2023/11/07 2:49:33 PM GMT+1,Between 46 and 60,Male,French,Netherlands,English,French and some Dutch,Some college or associate's degree,Full time,No,Software Testing,Data Analysis,Iron Hack,2023-11-06 00:00:00,0,Less than 20%,Landing a job in a related field,Not yet,NaN,NaN,NaN,Just starting now,Less than 50,more than 3 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,1,3,2,https://drive.google.com/u/0/open?usp=forms_we...,pdesgrip@gmail.com
17,2023/11/07 8:38:47 PM GMT+1,Between 24 and 35,Female,Turkish,Germany,Turkish,German English Russian,Master's degree,Full time,No,Politics,Full-stack,Spiced academy,2023-09-01 00:00:00,1,Almost nothing,I have a job in a related field and just inten...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,No,NaN,NaN,NaN,Less than 1 year,Less than 6 months,More than 100,1,1,1,2,1,NaN,NaN
18,2023/11/08 12:37:06 PM GMT+1,Between 24 and 35,Male,Indian,Germany,Malayalam,English,Master's degree,Full time,No,MBA : Big Data Management,Data Analytics,Spiced Academy,2023-06-02 00:00:00,0,Less than 20%,Landing a job in a related field,Not yet,NaN,NaN,NaN,Less than 6 months,Between 50 and 100,between 1 year and 3 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,3,2,2,NaN,hazeedhrshd@gmail.com
19,2023/11/08 1:04:15 PM GMT+1,Between 24 and 35,Male,Serbian,Germany,Serbian,"English, Spanish and a bit of German",Some college or associate's degree,Full time,No,Web development,Full stack,Spiced,2023-08-09 00:00:00,0,Almost nothing,Landing a job in a related field,Not yet,NaN,NaN,NaN,Less than 6 months,More than 100,less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5,1,1,2,NaN,No
20,2023/11/08 1:20:20 PM GMT+1,Between 24 and 35,Female,Indian,Germany,Telugu,"English,German",Bachelor's degree,Full time,No,Electronics,Web development,Spiced Academy,2023-08-09 00:00:00,1,Less than 20%,Landing a job in a related field,Not yet,NaN,NaN,NaN,Less than 6 months,More than 100,between 1 year and 3 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,5,5,4,3,NaN,NaN
21,2023/11/08 1:27:08 PM GMT+1,Between 24 and 35,Male,Brazilian,Germany,Portuguese,English and German,Bachelor's degree,Full time,No,Journalism,Web development full stack,Spiced Academy,2023-08-08 00:00:00,1,Less than 20%,Landing a job in a related field,Not yet,NaN,NaN,NaN,Less than 6 months,332,less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,4,4,1,https://drive.google.com/u/0/open?usp=forms_we...,NaN
22,2023/11/08 1:45:18 PM GMT+1,Between 24 and 35,Male,Iranian,Germany,Persian,working - only English,Doctorate or professional degree,Full time,No,Linguistics and Cognitive Science,Data Science,Spiced Academy,2023-08-22 00:00:00,0,Almost nothing,Landing a job in a related field,Not yet,NaN,NaN,NaN,Less than 6 months,More than 100,I thought i need to address this more speciifi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,3,1,1,https://drive.google.com/u/0/open?usp=forms_we...,NaN
23,2023/11/08 2:31:35 PM GMT+1,Between 36 and 45,Male,Spanish,Germany,Spanisj,2: english and german,Some college or associate's degree,Part time,No,Automotive tecnician,Data Analysis,Ironhack,2022-08-22 00:00:00,1,Less than 20%,Landing a job in a related field,Yes,less than 6 months,Less than 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,5,3,3,https://drive.google.com/u/0/open?usp=forms_we...,jadcarpan@gmail.com
24,2023/11/08 3:50:48 PM GMT+1,Between 36 and 45,Female,Dutch,Netherlands,Dutch,English,Bachelor's degree,Full time,No,Bachelor of Design,Data Analytics,Ironhack,2023-11-06 00:00:00,1,Between 20% and 50%,Landing a job in a related field,Not yet,NaN,NaN,NaN,Less than 6 months,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5,4,4,4,NaN,Thank you and your welcome. Goodluck on your p...
25,2023/11/08 5:55:21 PM GMT+1,Between 24 and 35,Female,Iranian,Germany,Persian,"English, German",Bachelor's degree,Full time,No,Civil engineering,Cyber security,Ironhack,2022-09-01 00:00:00,1,Almost nothing,Landing a job in a related field,Yes,between 3 and 12 months,Between 50 and 100,less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,3,4,2,NaN,NaN
26,2023/11/08 5:57:36 PM GMT+1,Between 24 and 35,Female,Iranian,Germany,persian,english,Bachelor's degree,Part time,Yes - Part time,Civil engineering,Data science,Ironhack,2022-06-20 00:00:00,0,Almost nothing,Landing a job in a related field,Yes,between 3 and 12 months,Between 50 and 100,less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,3,4,2,NaN,NaN
27,2023/11/08 6:00:59 PM GMT+1,Between 24 and 35,Male,Iranian,Germany,Persian,English,Bachelor's degree,Part time,Yes - Part time,civil engineering,UX/UI,Ironhack,2022-04-11 00:00:00,0,Almost nothing,Landing a job in a related field,Yes,between 3 and 12 months,Between 50 and 100,less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,3,4,2,NaN,NaN
28,2023/11/08 6:08:05 PM GMT+1,Between 24 and 35,Male,Iranian,Germany,Persian,English,Bachelor's degree,Part time,Yes - Full time,Computer science,Data Abalysis,Iron hack,2023-07-04 00:00:00,0,Less than 20%,Landing a job in a related field,Yes,between 3 and 12 months,More than 100,less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,2,3,3,NaN,NaN
29,2023/11/08 6:10:08 PM GMT+1,Between 24 and 35,Male,German,Germany,German,English,Master's degree,Full time,No,Art,Web development,Spiced,2022-02-08 00:00:00,0,Less than 20%,Landing a job in a related field,Yes,more than a year,More than 100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,3,3,2,NaN,NaN
30,2023/11/08 6:54:46 PM GMT+1,Between 24 and 35,Male,Portuguese,Spain,Portuguese,"English, Spanish, Italian",High school diploma or equivalent,Full time,No,I started studying Civil Engineering but did n...,Web Development,Remote,2023-06-09 00:00:00,1,More than 50%,Landing a job in a related field,Yes,less than 6 months,Less than 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,4,3,4,https://drive.google.com/u/0/open?usp=forms_we...,NaN

In [48]:
raw.columns

Index(['Timestamp', 'Age', 'sex', 'Nationality', 'base', 'Mother_tongue',
       'Other_languages', 'education', 'Part_full', 'working_student',
       'Academic_major', 'Bootcamp_subject', 'Institute', 'Graduation_time',
       'local_language', 'Familirity_rate', 'Intention', 'Employee',
       'Time_employee', 'Apply_employee', 'Work_exprience_employee',
       'Time_hunter', 'Apply_hunter', 'Work_exprience_hunter',
       'Upskilled_employee_try', 'Upskilled_employee_succeed',
       'Work_exprience_upskilled', 'Time_upskilled', 'Apply_upskilled',
       'Work_exprience_upskilled_hunter', 'Time_upskilled_hunter',
       'Apply_upskilled_hunter', 'Subjective_technical', 'Subjective_soft',
       'Subjective_language', 'Subjective_academia', 'Subjective_bootcamp',
       'CV', 'Email'],
      dtype='object')

In [49]:
raw['Intention'].replace('I have a job in a related field and just intended to upskill myself','Landing a job in a related field',inplace=True)

raw['Work_exprience_upskilled'] = raw['Work_exprience_employee']
raw['Time_upskilled'] = raw['Time_employee']
raw['Apply_upskilled'] = raw['Apply_employee']

raw['Work_exprience_upskilled_hunter' ] = raw['Work_exprience_hunter']
raw['Time_upskilled_hunter'] = raw['Time_hunter']
raw['Apply_upskilled_hunter'] = raw['Apply_hunter']

In [50]:
raw.drop(columns=['Timestamp','Familirity_rate','Upskilled_employee_try', 'Upskilled_employee_succeed',
       'Work_exprience_upskilled', 'Time_upskilled', 'Apply_upskilled',
       'Work_exprience_upskilled_hunter', 'Time_upskilled_hunter',
       'Apply_upskilled_hunter','CV', 'Email','Intention'],inplace=True)

In [51]:
geolocator = Nominatim(user_agent="myGeocoder")
latitude = []
longitude = []

for country in raw['base']:
    location = geolocator.geocode(country)
    latitude.append(location.latitude)
    longitude.append(location.longitude)
    
raw['latitude'] = latitude
raw['longitude'] = longitude

In [52]:
raw.columns

Index(['Age', 'sex', 'Nationality', 'base', 'Mother_tongue', 'Other_languages',
       'education', 'Part_full', 'working_student', 'Academic_major',
       'Bootcamp_subject', 'Institute', 'Graduation_time', 'local_language',
       'Employee', 'Time_employee', 'Apply_employee',
       'Work_exprience_employee', 'Time_hunter', 'Apply_hunter',
       'Work_exprience_hunter', 'Subjective_technical', 'Subjective_soft',
       'Subjective_language', 'Subjective_academia', 'Subjective_bootcamp',
       'latitude', 'longitude'],
      dtype='object')

In [53]:
raw['local_language'] = [True if i == 1 else False for i in raw['local_language'] ]

In [54]:
raw.shape

(31, 28)

In [55]:
pd.set_option('display.max_columns', None)
raw

,Age,sex,Nationality,base,Mother_tongue,Other_languages,education,Part_full,working_student,Academic_major,Bootcamp_subject,Institute,Graduation_time,local_language,Employee,Time_employee,Apply_employee,Work_exprience_employee,Time_hunter,Apply_hunter,Work_exprience_hunter,Subjective_technical,Subjective_soft,Subjective_language,Subjective_academia,Subjective_bootcamp,latitude,longitude
0,Between 36 and 45,Male,British,Netherlands,English,Dutch,Bachelor's degree,Full time,No,Fine Art,UI UX,Ironhack,2024-02-03 00:00:00,True,Not yet,NaN,NaN,NaN,Not started yet.,NaN,less than 1 year,4,4,2,3,2,52.243498,5.634323
1,Between 24 and 35,Male,German,Portugal,German,"english, dutch",Bachelor's degree,Full time,Yes - Part time,Communication,WebDev,Lisbon,2023-12-05 00:00:00,False,Not yet,NaN,NaN,NaN,Not started yet.,Less than 50,between 1 year and 3 years,5,4,4,3,2,39.662165,-8.135352
2,Between 24 and 35,Female,Iranian,Germany,Persian,English,Bachelor's degree,Full time,No,Civil engineering,web development,Spiced Academy,2023-08-09 00:00:00,False,Not yet,NaN,NaN,NaN,Less than 6 months,Less than 50,NaN,2,3,2,1,1,40.420348,-79.116698
3,Between 24 and 35,Female,Swiss,Germany,German,"English, Swiss-German",Some college or associate's degree,Full time,No,Early Childhood Education,UX/UI Design,Ironhack,2023-08-11 00:00:00,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,2,1,4,40.420348,-79.116698
4,Between 46 and 60,Male,German,Germany,German,"English, Spanish",Bachelor's degree,Full time,No,Science of Art,Fullstack Development,Spiced Academy,2023-07-06 00:00:00,True,Not yet,NaN,NaN,NaN,Less than 6 months,Less than 50,less than 1 year,5,4,4,3,3,40.420348,-79.116698
5,Between 36 and 45,Male,Ethiopian,Germany,Amharic,English,Bachelor's degree,Full time,No,Computer science,Cop up to modern programming skills,Spiced academy,2023-07-06 00:00:00,False,Not yet,NaN,NaN,NaN,Less than 6 months,Between 50 and 100,more than 3 years,4,2,3,3,2,40.420348,-79.116698
6,Between 24 and 35,Female,Iranian,Germany,Persian,English,Bachelor's degree,Full time,No,Conservation and restoration of cultural heritage,Web developement,Ironhack,2022-06-03 00:00:00,False,Yes,1 week,Less than 50,NaN,NaN,NaN,NaN,3,5,3,3,4,40.420348,-79.116698
7,Between 24 and 35,Female,Iranian,Germany,Azerbaijani,Persian. English. Turkish,Master's degree,Full time,Yes - Part time,MBA in project management,UI/UX,Ironhack,2021-12-10 00:00:00,False,Yes,less than 6 months,Less than 50,between 1year and 3 years,NaN,NaN,NaN,4,4,2,1,3,40.420348,-79.116698
8,Between 24 and 35,Female,Romanian,Germany,Romanian,"English, Spanish",Master's degree,Part time,Yes - Part time,Natural Sciences,Data Analytics,Ironhack,2022-07-31 00:00:00,False,Yes,less than 6 months,Less than 50,between 1year and 3 years,NaN,NaN,NaN,5,3,2,4,1,40.420348,-79.116698
9,Between 24 and 35,Female,American,The United States,English,none,Bachelor's degree,Full time,No,Sociology and Anthropology,UX/UI,Ironhack,2023-12-08 00:00:00,True,Not yet,NaN,NaN,NaN,Not started yet.,Less than 50,NaN,4,4,2,2,2,47.828163,-122.598365
10,Between 24 and 35,Prefer not to say,brazilian,Brazil,portuguese,english,Bachelor's degree,Full time,No,architecture and urbanism,data analytics,ironhack,2022-05-21 00:00:00,True,Yes,less than 6 months,Less than 50,NaN,NaN,NaN,NaN,4,5,5,2,5,-10.333333,-53.200000
11,Between 24 and 35,Female,Latin/Cuban,The United States,Spanish,English,Bachelor's degree,Part time,Yes - Full time,Bachelor's in Fine Arts,Web Development,Ironhack Miami,2020-05-09 00:00:00,True,Yes,more than a year,More than 100,between 1year and 3 years,NaN,NaN,NaN,5,3,4,5,2,47.828163,-122.598365
12,Between 24 and 35,Male,Portuguese,Spain,Portuguese,Spanish and English,Bachelor's degree,Full time,Yes - Full time,Business Administration,Data Analysis,Ironhack Barcelona,2020-06-30 00:00:00,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4,3,2,2,39.326068,-4.837979
13,Between 24 and 35,Female,Pakistani,Germany,Urdu,English,Bachelor's degree,Full time,No,Computers,Data Analytics,IronHack,2014-09-10 00:00:00,True,Not yet,NaN,NaN,NaN,Not started yet.,Less than 50,less than 1 year,4,4,2,4,4,40.420348,-79.116698
14,Between 36 and 45,Female,Indian,Netherlands,Hindi,English,Master's degree,Full time,No,Chemistry,Data Analysis,na,2001-04-21 00:00:00,True,Not yet,NaN,NaN,NaN,Between 6 and 12 months,Less than 50,NaN,5,4,3,4,3,52.243498,5.634323
15,Between 24 and 35,Male,Spain,Spain,Spanish,"Catalan, English, Russian",Master's degree,Part time,Yes - Part time,Cytology,Data Science,Ironhack,0023-08-31,True,Yes,less than 6 months,More than 100,more than 3 years,NaN,NaN,NaN,3,4,5,5,4,39.326068,-4.837979
16,Between 46 and 60,Male,French,Netherlands,English,French and some Dutch,Some college or associate's degree,Full time,No,Software Testing,Data Analysis,Iron Hack,2023-11-06 00:00:00,False,Not yet,NaN,NaN,NaN,Just starting now,Less than 50,more than 3 years,5,4,1,3,2,52.243498,5.634323
17,Between 24 and 35,Female,Turkish,Germany,Turkish,German English Russian,Master's degree,Full time,No,Politics,Full-stack,Spiced academy,2023-09-01 00:00:00,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,2,1,40.420348,-79.116698
18,Between 24 and 35,Male,Indian,Germany,Malayalam,English,Master's degree,Full time,No,MBA : Big Data Management,Data Analytics,Spiced Academy,2023-06-02 00:00:00,False,Not yet,NaN,NaN,NaN,Less than 6 months,Between 50 and 100,between 1 year and 3 years,5,4,3,2,2,40.420348,-79.116698
19,Between 24 and 35,Male,Serbian,Germany,Serbian,"English, Spanish and a bit of German",Some college or associate's degree,Full time,No,Web development,Full stack,Spiced,2023-08-09 00:00:00,False,Not yet,NaN,NaN,NaN,Less than 6 months,More than 100,less than 1 year,5,5,1,1,2,40.420348,-79.116698
20,Between 24 and 35,Female,Indian,Germany,Telugu,"English,German",Bachelor's degree,Full time,No,Electronics,Web development,Spiced Academy,2023-08-09 00:00:00,True,Not yet,NaN,NaN,NaN,Less than 6 months,More than 100,between 1 year and 3 years,4,5,5,4,3,40.420348,-79.116698
21,Between 24 and 35,Male,Brazilian,Germany,Portuguese,English and German,Bachelor's degree,Full time,No,Journalism,Web development full stack,Spiced Academy,2023-08-08 00:00:00,True,Not yet,NaN,NaN,NaN,Less than 6 months,332,less than 1 year,4,4,4,4,1,40.420348,-79.116698
22,Between 24 and 35,Male,Iranian,Germany,Persian,working - only English,Doctorate or professional degree,Full time,No,Linguistics and Cognitive Science,Data Science,Spiced Academy,2023-08-22 00:00:00,False,Not yet,NaN,NaN,NaN,Less than 6 months,More than 100,I thought i need to address this more speciifi...,4,2,3,1,1,40.420348,-79.116698
23,Between 36 and 45,Male,Spanish,Germany,Spanisj,2: english and german,Some college or associate's degree,Part time,No,Automotive tecnician,Data Analysis,Ironhack,2022-08-22 00:00:00,True,Yes,less than 6 months,Less than 50,NaN,NaN,NaN,NaN,4,4,5,3,3,40.420348,-79.116698
24,Between 36 and 45,Female,Dutch,Netherlands,Dutch,English,Bachelor's degree,Full time,No,Bachelor of Design,Data Analytics,Ironhack,2023-11-06 00:00:00,True,Not yet,NaN,NaN,NaN,Less than 6 months,3,NaN,5,5,4,4,4,52.243498,5.634323
25,Between 24 and 35,Female,Iranian,Germany,Persian,"English, German",Bachelor's degree,Full time,No,Civil engineering,Cyber security,Ironhack,2022-09-01 00:00:00,True,Yes,between 3 and 12 months,Between 50 and 100,less than 1 year,NaN,NaN,NaN,4,4,3,4,2,40.420348,-79.116698
26,Between 24 and 35,Female,Iranian,Germany,persian,english,Bachelor's degree,Part time,Yes - Part time,Civil engineering,Data science,Ironhack,2022-06-20 00:00:00,False,Yes,between 3 and 12 months,Between 50 and 100,less than 1 year,NaN,NaN,NaN,4,4,3,4,2,40.420348,-79.116698
27,Between 24 and 35,Male,Iranian,Germany,Persian,English,Bachelor's degree,Part time,Yes - Part time,civil engineering,UX/UI,Ironhack,2022-04-11 00:00:00,False,Yes,between 3 and 12 months,Between 50 and 100,less than 1 year,NaN,NaN,NaN,4,4,3,4,2,40.420348,-79.116698
28,Between 24 and 35,Male,Iranian,Germany,Persian,English,Bachelor's degree,Part time,Yes - Full time,Computer science,Data Abalysis,Iron hack,2023-07-04 00:00:00,False,Yes,between 3 and 12 months,More than 100,less than 1 year,NaN,NaN,NaN,4,3,2,3,3,40.420348,-79.116698
29,Between 24 and 35,Male,German,Germany,German,English,Master's degree,Full time,No,Art,Web development,Spiced,2022-02-08 00:00:00,False,Yes,more than a year,More than 100,NaN,NaN,NaN,NaN,4,3,3,3,2,40.420348,-79.116698
30,Between 24 and 35,Male,Portuguese,Spain,Portuguese,"English, Spanish, Italian",High school diploma or equivalent,Full time,No,I started studying Civil Engineering but did n...,Web Development,Remote,2023-06-09 00:00:00,True,Yes,less than 6 months,Less than 50,NaN,NaN,NaN,NaN,5,4,4,3,4,39.326068,-4.837979

In [35]:
raw.to_excel('raw_EDA.xlsx')

In [70]:

contingency_table = pd.crosstab(raw['education'],raw['Employee'])

print("Contingency Table:")
print(contingency_table)

chi2, p, dof, expected = chi2_contingency(contingency_table)

print("\nChi-squared statistic:", chi2)
print("p-value:", p)
print("Degrees of freedom:", dof)
print("Expected frequencies table:")
print(pd.DataFrame(expected, index=contingency_table.index, columns=contingency_table.columns))

# Interpret the results
alpha = 0.05
if p < alpha:
    print("\nThere is a significant association between the two categorical variables (Gender and Preference).")
else:
    print("\nThe two categorical variables are independent.")

Contingency Table:
Employee                            Not yet  Yes
education
Bachelor's degree                         7    4
Master's degree                           2    3
Some college or associate's degree        2    0

Chi-squared statistic: 2.239905548996458
p-value: 0.32629520371390647
Degrees of freedom: 2
Expected frequencies table:
Employee                             Not yet       Yes
education
Bachelor's degree                   6.722222  4.277778
Master's degree                     3.055556  1.944444
Some college or associate's degree  1.222222  0.777778

The two categorical variables are independent.

In [77]:
contingency_table = pd.crosstab(raw['local_language'],raw['Employee'])

print("Contingency Table:")
print(contingency_table)

chi2, p, dof, expected = chi2_contingency(contingency_table)

print("\nChi-squared statistic:", chi2)
print("p-value:", p)
print("Degrees of freedom:", dof)
print("Expected frequencies table:")
print(pd.DataFrame(expected, index=contingency_table.index, columns=contingency_table.columns))

# Interpret the results
alpha = 0.05
if p < alpha:
    print("\nThere is a significant association between the two categorical variables (Gender and Preference).")
else:
    print("\nThe two categorical variables are independent.")

Contingency Table:
Employee        Not yet  Yes
local_language
False                 5    3
True                  6    4

Chi-squared statistic: 0.0
p-value: 1.0
Degrees of freedom: 1
Expected frequencies table:
Employee         Not yet       Yes
local_language
False           4.888889  3.111111
True            6.111111  3.888889

The two categorical variables are independent.